{% extends "base.html" %}

{% block title %}
    Detail
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_detail.name }}</h1>
            <p>{{ project_detail.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if project_detail.tasks.all %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for detail in project_detail.tasks.all %}
                            <tr>
                                <td>{{ detail.name }}</td>
                                <td>{{ detail.assignee }}</td>
                                <td>{{ detail.start_date }}</td>
                                <td>{{ detail.due_date }}</td>
                                <td>{{ detail.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
